/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;   
    -fx-font: 14px Montserrat Regular;
    -fx-font-size: 14;    
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081; 
    -fx-font: 14px Montserrat Regular;
}